"courseintellectmarketingwebsite (1)/package.json" whitespace=cr-at-eol
"courseintellectmarketingwebsite (1)/package-lock.json" whitespace=cr-at-eol
"courseintellectmarketingwebsite (1)/next.config.mjs" whitespace=cr-at-eol
